<html>
<head>
</head>
	<body>
		<!--Inspired from Themeforest Template-->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
		<div class="sidebar">
		  <h1><i class="fa fa-bars push"></i>Beats By <span class="color"><strong>J</strong></span></h1>
		    <ul>
		    <li><a href="/signup"><i class="fa fa-user-plus push"></i>Signup<i class="fa fa-angle-right"></i></a><span class="hover"></span>
		    </li>
		    <li><a href="/login"><i class="fa fa-user push"></i>Login<i class="fa fa-angle-right"></i></a><span class="hover"></span>
		    </li>
		    <li><a href="#"><i class="fa fa-cog push"></i>Developer Info<i class="fa fa-angle-right"></i></a><span class="hover"></span>
		     <ul class="sub-menu">
		     		 <h1 style="margin-top:-15px;">Josh Baker</h1>
		         <li><a href="https://www.linkedin.com/in/joshlbaker"><i class="fa fa-linkedin"></i>LinkedIn</a><span class="hover"></span></li>
		         <li><a href="https://github.com/joshlbaker/project-3-take2"><i class="fa fa-code-fork"></i>Fork on GitHub</a><span class="hover"></span></li>
		      </ul></li>					

		  </ul>
		</div>
		<div class="portfolio">
			<% @moods.each do |i| %>
		  <ul>
		    <li><a href='#'></a>
		      <div class="caption">
		        <h1><%= i.name %></h1>
		      </div>
		    </li>
		  </ul>
		  <% end %>
		</div>

	</body>
</html>

