<html>
<head>
</head>
	<body>
		<!--Inspired from Themeforest Template-->
		<div class="text-cycle col-md-10">
			<section class="cycle-wrapper">
							<h2 class="rw-sentence">I'm feelin..<br>
								<div class="rw-words rw-words-1">
									<span>Happy</span>
									<span>Sad</span>
									<span>Calm</span>
									<span>Energetic</span>
									<span>Lonely</span>
									<span>Lazy</span>
								</div>
							</h2>
			</section>
		</div>

		<div class="portfolio">
			<% @moods.each do |i| %>
			<a href="<%= i.link %>">
		  <ul>
		    <li>
		      <div class="caption">
		        <h1><%= i.name %></h1>
		      </div>
		    </li>
		  </ul>
		</a>
		  <% end %>
		</div>

	</body>
</html>

