<div class="sidebar">
  <h1><i class="fa fa-bars push"></i>Beats By <span class="color"><strong>J</strong></span></h1>
    <ul>
    <li><a href="/"><i class="fa fa-home push"></i>Home<i class="fa fa-angle-right"></i></a><span class="hover"></span>
    </li>	
    <li><a href="/signup"><i class="fa fa-user-plus push"></i>Signup<i class="fa fa-angle-right"></i></a><span class="hover"></span>
    </li>
    <li><a href="/login"><i class="fa fa-user push"></i>Login<i class="fa fa-angle-right"></i></a><span class="hover"></span>
    </li>
    <li><a href="#"><i class="fa fa-cog push"></i>Developer Info<i class="fa fa-angle-right"></i></a><span class="hover"></span>
     <ul class="sub-menu">
     		 <h1 style="margin-top:-15px;">Josh Baker</h1>
         <li><a href="https://www.linkedin.com/in/joshlbaker"><i class="fa fa-linkedin"></i>LinkedIn</a><span class="hover"></span></li>
         <li><a href="https://github.com/joshlbaker/project-3-take2"><i class="fa fa-code-fork"></i>Fork on GitHub</a><span class="hover"></span></li>
      </ul></li>					
  </ul>
</div>