<html>
<head>

</head>
	<body>

		<div class="container">
			<nav>
				<ul class="mcd-menu">
					<li>
						<a href="">
							<i class="fa fa-home"></i>
							<strong>Home</strong>
						</a>
					</li>
					<li>
						<a href="">
							<i class="fa fa-user-plus"></i>
							<strong>Sign Up</strong>
							<small>New user?</small>
						</a>
					</li>
					<li>
						<a href="">
							<i class="fa fa-user"></i>
							<strong>Login</strong>
							<small>Already a member?</small>
						</a>
					</li>
					<li>
						<a href="">
							<i class="fa fa-info"></i>
							<strong>About</strong>
						</a>
						<ul>
							<li><a href="#"><i class="fa fa-laptop"></i>Developer Info</a></li>
							<li><a href="#"><i class="fa fa-lightbulb-o"></i>Inspiration</a></li>
							<li><a href="#"><i class="fa fa-code-fork"></i>Fork on GitHub!</a></li>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
	</body>
</html>

