/*// Place all the styles related to the moods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/





#moods{
  margin: 2px 2px 2px 2px;
  /*max-width: 200px;*/
  text-align: center;
  /*float: right;*/
  opacity:0.8;

}

#moods:hover{
  opacity: 1;
}

*{
  margin:0px;
}

body{
  /*background: #202838;*/
  background: url("https://images.unsplash.com/photo-1420161900862-9a86fa1f5c79?q=80&fm=jpg&s=48506e8121d839e969fd2eb622af2c90");
  background-size: cover;
}

.sidebar{
  margin-top: -50px;
  opacity: 1;
  width:250px;
  height:100%;
  position:fixed;
  z-index:2000; background:url("http://themes.mediacreed.com/html/synergy/assets/patterns/menu/menu_pattern_1.png");
  border-right:10px solid black;
  
  ul{
    margin-top:30px;
  }
  
  li{
    list-style:none;
    padding:10px;
    position:relative;
   
  }
  
  a{
    text-decoration:none;
    color:#555;
    font:14px Oswald;
    text-transform:uppercase;
    position:relative;
    z-index:1000;
  }
  
  .hover{
    display:block;
    position:absolute;
    width:0%;
    height:40px;
    top:0px;
    left:0px;
    background:#00FC76;
    z-index:0;
    opacity:0;
  }
  
  a:hover{
    color:#FFF;
  }
  

  .fa-angle-right{
    position:absolute;
    left:150px;
    top:1px;
  }
  
  .sub-menu{
    z-index:2000;
    position:absolute;
    left:210px;
    top:-30px;
    padding:0px;
    width:220px;
    display:none; background:url("http://themes.mediacreed.com/html/synergy/assets/patterns/menu/menu_pattern_1.png");
    
    li{
      a{
        padding-left:20px;
        font-size:13px;
      }
    }
    
    i{
      left:180px;
    }
  }
  
  ul li:hover ul{
    display:block;
  }
  
  .push{
    margin-right:15px;
  }
}

h1{
  color:#00FC76;
  font:16px Open Sans;
  padding-left:50px;
  padding-top:30px;
}

.color{
  color:#00FC76;
}

.portfolio{
  width:1040px;
  margin-left:250px;
  margin-top: 50px;
  position:relative;
  z-index:0;
  /*padding-top:20px;*/
  li{
    list-style:none;
    float:left;
    /*box-shadow:#000 0px 0px 10px;*/
    border:2px solid #000;
    position:relative;
    overflow:hidden;
    margin-right:10px;
    z-index:0;
    margin-bottom:20px;
  }
  
  li:before{
    content:"";
    position:absolute;
    width:160%;
    top:-100px;
    left:-120px;
    height:200px;
    -webkit-transform:rotate(-36deg);
    -moz-transform:rotate(-36deg);
    -o-transform:rotate(-36deg);
    -ms-transform:rotate(-36deg);
    transform:rotate(-36deg);
    background:rgba(255,255,255,0.1);
  }
}

.caption{
  width:300px;
  background:#FFF;
  /*margin-top:-5px;*/
  padding-bottom:10px;
  opacity: 0.8;
  
  h1{
    color:black;
    text-align:center;
    margin:0px;
    padding:0px;
    font:16px Oswald;
    text-transform:uppercase;
    padding-top:10px;
  }
  p{
    font:13px Open Sans;
    text-align:center;
    padding:10px;
  }
  
  i{
    margin-left:110px;
    margin-top:15px;
    color:#00FC76;
  }
}
.caption:hover{
  opacity: 1;
}

.active-drag{
  -webkit-animation:drag 1.5s infinite;
}

@-webkit-keyframes drag{
  0%{
     -webkit-transform:scale(1);
  }
  
  50%{
     -webkit-transform:scale(0.8);
  }
  100%{
    -webkit-transform:scale(1);
  }
}

body > div.sidebar{
  background-color: white;
}
.fa-linkedin{
  margin-right: 20px;
  text-align: left;
  font-size:20px;
}
.fa-code-fork{
  margin-right: 20px;
  text-align: left;
  font-size:20px;
}
.fa-user{
  font-size: 20px;
}
.fa-user-plus{
  font-size: 20px;
}
.fa-cog{
  font-size: 20px;
}
.fa-home{
  font-size: 20px;
}
.mood{
  opacity: 0.8;
}
/*iframe{
  margin-left: 100px;
}*/







.cycle-wrapper{
  width: 80%;
  position: relative;
  margin: 110px auto 0 auto;
  padding: 10px;
  background-color:none;
}
.rw-sentence{
  margin: 0;
  text-align: left;
  color:#B6B6B6;
  /*text-shadow: 1px 1px 1px rgba(255,255,255,0.8);*/
}
.rw-sentence span{
  color: #00FC76;
  font-size: 200%;
  font-weight: normal;
}
.rw-words{
  display: inline;
  text-indent: 10px;
}
.rw-words-1 span{
  position: absolute;
  opacity: 0;
  overflow: hidden;
  color: #B6B6B6;
  -webkit-animation: rotateWord 18s linear infinite 0s;
  -ms-animation: rotateWord 18s linear infinite 0s;
  animation: rotateWord 18s linear infinite 0s;
}
.rw-words-1 span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
  -ms-animation-delay: 3s; 
  animation-delay: 3s; 
  color: #B6B6B6;
}
.rw-words-1 span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
  -ms-animation-delay: 6s; 
  animation-delay: 6s; 
  color: #B6B6B6; 
}
.rw-words-1 span:nth-child(4) { 
    -webkit-animation-delay: 9s; 
  -ms-animation-delay: 9s; 
  animation-delay: 9s; 
  color: #B6B6B6;
}
.rw-words-1 span:nth-child(5) { 
    -webkit-animation-delay: 12s; 
  -ms-animation-delay: 12s; 
  animation-delay: 12s; 
  color: #B6B6B6;
}
.rw-words-1 span:nth-child(6) { 
    -webkit-animation-delay: 15s; 
  -ms-animation-delay: 15s; 
  animation-delay: 15s; 
  color: #B6B6B6;
}


@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
  5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
  20% { opacity: 0; -webkit-transform: translateY(30px); }
  80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
  5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
  20% { opacity: 0; -ms-transform: translateY(30px); }
  80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
  5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
  20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
  80% { opacity: 0; }
    100% { opacity: 0; }
}

.text-cycle{
  margin-left: 200px;
  margin-top: -100px;
  margin-bottom: 200px;
}

@import url(http://fonts.googleapis.com/css?family=Megrim&text=CAT);



body {
  margin: 0;
}

.glass {
  position: relative;
  padding: 10px 0;
  border-bottom: 1px solid;
  /*border-bottom-color: #ccc;*/
  /*border-bottom-color: rgba(255, 255, 255, 0.2);*/
  /*background-color: rgba(255, 255, 255, 0.2);*/
  /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);*/
  /*height: 180px;*/
}
body > div.portfolio > div > h1{
  margin-bottom: 20px;
  margin-top: -50px;
}
.glass::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /*width: 100%;*/
  /*height: 100%;*/
  /*background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20width%3D%221920%22%20height%3D%221120%22%3E%3Cdefs%3E%3Cfilter%20id%3D%22blur%22%3E%3CfeGaussianBlur%20stdDeviation%3D%225%22%2F%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3Cimage%20xlink%3Ahref%3D%22http%3A%2F%2Fplacekitten.com%2F1920%2F1120%22%20width%3D%221920%22%20height%3D%221120%22%20filter%3D%22url%28%23blur%29%22%2F%3E%3C%2Fsvg%3E"), url("http://placekitten.com/1920/1120");*/
  background-position: center bottom;
  background-attachment: fixed;
  background-size: cover;
  content: "";
  /*filter: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%3E%3Cdefs%3E%3Cfilter%20id%3D%22blur%22%3E%3CfeGaussianBlur%20stdDeviation%3D%225%22%2F%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3C%2Fsvg%3E#blur");*/
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.glass .legacy-ie-fix {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=20)";
}

.glass h1 {
  position: relative;
  margin: 0;
  color: #fff;
  color: rgba(255, 255, 255, 0.3);
  font-size: 180px;
  font-weight: normal;
  font-family: "Megrim", sans-serif;
  line-height: 1;
  text-align: center;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=50)";
}

@media only screen {
  .glass h1 {
    -ms-filter: "none";
  }
}








