/*// Place all the styles related to the moods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/





#moods{
  margin: 2px 2px 2px 2px;
  /*max-width: 200px;*/
  text-align: center;
  /*float: right;*/
  opacity:0.8;
}

#moods:hover{
  opacity: 1;
}

*{
  margin:0px;
}

body{
  /*background: #202838;*/
  background: url("https://images.unsplash.com/photo-1420161900862-9a86fa1f5c79?q=80&fm=jpg&s=48506e8121d839e969fd2eb622af2c90");
  background-size: cover;
}

.sidebar{
  margin-top: -50px;
  opacity: 0.8;
  width:250px;
  height:100%;
  position:fixed;
 z-index:2000; background:url("http://themes.mediacreed.com/html/synergy/assets/patterns/menu/menu_pattern_1.png");
  border-right:10px solid black;
  
  ul{
    margin-top:30px;
  }
  
  li{
    list-style:none;
    padding:10px;
    position:relative;
   
  }
  
  a{
    text-decoration:none;
    color:#555;
    font:14px Oswald;
    text-transform:uppercase;
    position:relative;
    z-index:1000;
  }
  
  .hover{
    display:block;
    position:absolute;
    width:0%;
    height:40px;
    top:0px;
    left:0px;
    background:#00FC76;
    z-index:0;
    opacity:0;
  }
  
  a:hover{
    color:#FFF;
  }
  

  .fa-angle-right{
    position:absolute;
    left:150px;
    top:1px;
  }
  
  .sub-menu{
    z-index:2000;
    position:absolute;
    left:210px;
    top:-30px;
    padding:0px;
    width:220px;
    display:none; background:url("http://themes.mediacreed.com/html/synergy/assets/patterns/menu/menu_pattern_1.png");
    
    li{
      a{
        padding-left:20px;
        font-size:13px;
      }
    }
    
    i{
      left:180px;
    }
  }
  
  ul li:hover ul{
    display:block;
  }
  
  .push{
    margin-right:10px;
  }
}

h1{
  color:#00FC76;
  font:16px Open Sans;
  padding-left:50px;
  padding-top:30px;
}

.color{
  color:#00FC76;
}

.portfolio{
  width:1040px;
  margin-left:250px;
  margin-top: 50px;
  position:relative;
  z-index:0;
  /*padding-top:20px;*/
  li{
    list-style:none;
    float:left;
    box-shadow:#000 0px 0px 10px;
    border:1px solid #000;
    position:relative;
    overflow:hidden;
    margin-right:10px;
    z-index:0;
    margin-bottom:20px;
  }
  
  li:before{
    content:"";
    position:absolute;
    width:160%;
    top:-100px;
    left:-120px;
    height:200px;
    -webkit-transform:rotate(-36deg);
    -moz-transform:rotate(-36deg);
    -o-transform:rotate(-36deg);
    -ms-transform:rotate(-36deg);
    transform:rotate(-36deg);
    background:rgba(255,255,255,0.1);
  }
}

.caption{
  width:230px;
  background:#FFF;
  /*margin-top:-5px;*/
  padding-bottom:10px;
  opacity: 0.8;
  
  h1{
    color:black;
    text-align:center;
    margin:0px;
    padding:0px;
    font:16px Oswald;
    text-transform:uppercase;
    padding-top:10px;
  }
  p{
    font:13px Open Sans;
    text-align:center;
    padding:10px;
  }
  
  i{
    margin-left:110px;
    margin-top:15px;
    color:#00FC76;
  }
}
.caption:hover{
  opacity: 1;
}

.active-drag{
  -webkit-animation:drag 1.5s infinite;
}

@-webkit-keyframes drag{
  0%{
     -webkit-transform:scale(1);
  }
  
  50%{
     -webkit-transform:scale(0.8);
  }
  100%{
    -webkit-transform:scale(1);
  }
}

body > div.sidebar{
  background-color: white;
}
.fa-linkedin{
  margin-right: 20px;
  text-align: left;
  font-size:20px;
}
.fa-code-fork{
  margin-right: 20px;
  text-align: left;
  font-size:20px;
}
.fa-user{
  font-size: 20px;
}
.fa-user-plus{
  font-size: 20px;
}
.fa-cog{
  font-size: 20px;
}








